body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  h1{
    border-radius: 1px;
    box-shadow: 2px 2px 15px rgb(80, 79, 79);
  }
  h1:hover{
    border-radius: 1px;
    box-shadow: 2px 2px 15px rgb(201, 189, 189);
    transition: box-shadow 0.3s
  }
  .container {
    text-align: center;
    box-shadow: 2px 5px 15px rgb(83, 83, 83);
    border-radius: 8px;
  }
  
  #gameArea {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 20px;
    margin-bottom: 5px;

  }
  
  #targetKey {
    display: inline-block;
    padding: 10px;
    margin: 20px 0;
    font-size: 24px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  #startButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  #startButton:hover {
    background-color: #45a049;
  }
  
  #timer {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #score {
    font-size: 18px;
  }
  